body{
  text-align: center;
  margin: 0;
  margin-top: 0;
  background-color: #000000;
  color: #FB2576;
  font-family: 'Merriweather', sans-serif;
}

.top-container{
  padding-top:  90px;
  background-color: #150050;
  padding-bottom: 0;
}

.bottom-container{
  background-color: #150050;
  margin-bottom:
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', sans-serif;
  /* margin-top: 0px; */
  margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.top-cloud{
  position: absolute;
  right: 25%;
  top: 30px;
}

.bottom-cloud{
  position: absolute;
  left: 25%;
}

.mountain{
  position: relative;
  bottom: 0;
}

.skill-row{
  /* display: inline-block; */
  width: 50%;
  margin: auto;
}

.skills{
  /* margin: 100px auto; */
}

.giphy-embed{
  width: 480px;
  height: 480px;
}

.skill-row{
  text-align: left;
  display: inline-block;
}

hr{
  border-color: white;
  border-width: 6px 0 0 0;
  border-style: dotted;
  width: 6%;

  background-color: #150050;
}

.contact-me-btn {
   background: #150050;
   background-image: -webkit-linear-gradient(top, #150050, #441DB1);
   background-image: -moz-linear-gradient(top, #150050, #441DB1);
   background-image: -ms-linear-gradient(top, #150050, #441DB1);
   background-image: -o-linear-gradient(top, #150050, #441DB1);
   background-image: -webkit-gradient(to bottom, #150050, #441DB1);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Courier New;
   font-size: 20px;
   font-weight: 400;
   padding: 12px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #383838 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-me-btn:hover {
   background: #1E62D0;
   border: solid #0800D7 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright{
  margin-bottom: 0px;
}
/* #E4F9F5 */
