body{
  text-align: center;
  margin: 0;
  margin-top: 0;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.top-container{
  padding-top:  75px;
  background-color: #150050;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.bottom-container{
  background-color: #150050;
  padding: 3rem 0 2rem;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', sans-serif;
  /* margin-top: 0px; */
  margin-bottom: 0px;
  color: #FB2576;

}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #FB2576;

}

.top-cloud{
  position: absolute;
  right: 10%;
  top: 100px;
}

.bottom-cloud{
  position: absolute;
  left: 10%;
}

.mountain{
  position: relative;
  bottom: 0;
}

.skill-row{
  /* display: inline-block; */
  width: 50%;
  margin: auto;
}

.skills{
  /* margin: 100px auto; */
}

.giphy-embed{
  width: 480px;
  height: 480px;
}

.skill-row{
  display: inline-block;
}

hr{
  border-width: 6px 0 0 0;
  border-style: dotted;
  width: 6%;
  border-color: #150050;
  margin: 6rem auto;
  /* background-color: #150050; */
}

.contact-me-btn {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #ffffff;
   font-family: Courier New;
   font-size: 20px;
   font-weight: 400;
   padding: 12px;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 1;
   background-color: #FB2576;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 1rem;
}

.contact-me-btn:hover {
   background: #150050;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   /* margin: 1rem; */
}

.copyright{
  margin-bottom: 0px;
}

.universal-padding{
  padding: 1em;
}

a{
  margin: auto 1rem;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

a:hover{
  color: #FB2576;
}
/* #E4F9F5 */

.navbar{
  background-color: #e1edf9;
}
