body{
  text-align: center;
  margin: 0;
  margin-top: 0;
  background-color: #000000;
  color: #FB2576;
  font-family: 'Merriweather', sans-serif;
}

.top-container{
  padding-top:  90px;
  background-color: #150050;
  padding-bottom: 0;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', sans-serif;
  /* margin-top: 0px; */
  margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.top-cloud{
  position: absolute;
  right: 25%;
  top: 30px;
}

.bottom-cloud{
  position: absolute;
  left: 25%;
}

.mountain{
  position: relative;
  bottom: 0;
}

.skill-row{
  /* display: inline-block; */
  width: 50%;
  margin: auto;
}

.skills{
  margin: 100px auto;
}

.giphy-embed{
  width: 480px;
  height: 480px;
}

.dandd{
  text-align: left;
}


/* #E4F9F5 */
